#preloader {
    background-image:url(../../painting-collection-128x128/1.jpg);
    background-image:url(../../painting-collection-128x128/andy-warhol.jpg);
    background-image:url(../../painting-collection-128x128/antique-ipod.jpg);
    background-image:url(../../painting-collection-128x128/art-attack.jpg);
    background-image:url(../../painting-collection-128x128/artspace.jpg);
    background-image:url(../../painting-collection-128x128/mind-body-spirit.jpg);
    background-image:url(../../painting-collection-128x128/butterflies.jpg);
    background-image:url(../../painting-collection-128x128/censored.jpg);
    background-image:url(../../painting-collection-128x128/clouds-2.jpg);
    background-image:url(../../painting-collection-128x128/clouds.jpg);
    background-image:url(../../painting-collection-128x128/dance-of-the-firefly.jpg);
    background-image:url(../../painting-collection-128x128/darkside.jpg);
    background-image:url(../../painting-collection-128x128/dawn-after-dark.jpg);
    background-image:url(../../painting-collection-128x128/dawn-lake.jpg);
    background-image:url(../../painting-collection-128x128/day-trip.jpg);
    background-image:url(../../painting-collection-128x128/dreamlines1.jpg);
    background-image:url(../../painting-collection-128x128/dreamlines2.jpg);
    background-image:url(../../painting-collection-128x128/dreamlines3.jpg);
    background-image:url(../../painting-collection-128x128/dreamlines4.jpg);
    background-image:url(../../painting-collection-128x128/dreamlines5.jpg);
    background-image:url(../../painting-collection-128x128/dreamlines6.jpg);
    background-image:url(../../painting-collection-128x128/dreamlines7.jpg);
    background-image:url(../../painting-collection-128x128/dreamlines8.jpg);
    background-image:url(../../painting-collection-128x128/dreamlines9.jpg);
    background-image:url(../../painting-collection-128x128/dreamlines10.jpg);
    background-image:url(../../painting-collection-128x128/dreamlines11.jpg);
    background-image:url(../../painting-collection-128x128/dreamlines12.jpg);
    background-image:url(../../painting-collection-128x128/firefly-2.jpg);
    background-image:url(../../painting-collection-128x128/four-seasons-autumn.jpg);
    background-image:url(../../painting-collection-128x128/four-seasons-spring.jpg);
    background-image:url(../../painting-collection-128x128/four-seasons-summer.jpg);
    background-image:url(../../painting-collection-128x128/four-seasons-winter.jpg);
    background-image:url(../../painting-collection-128x128/four-seasons1.jpg);
    background-image:url(../../painting-collection-128x128/four-seasons2.jpg);
    background-image:url(../../painting-collection-128x128/four-seasons3.jpg);
    background-image:url(../../painting-collection-128x128/four-seasons4.jpg);
    background-image:url(../../painting-collection-128x128/four-seasons5.jpg);
    background-image:url(../../painting-collection-128x128/fragile-world.jpg);
    background-image:url(../../painting-collection-128x128/freedom.jpg);
    background-image:url(../../painting-collection-128x128/fuji-falls.jpg);
    background-image:url(../../painting-collection-128x128/fuji-spring.jpg);
    background-image:url(../../painting-collection-128x128/garden.jpg);
	background-image:url(../../painting-collection-128x128/heaven.jpg);
	background-image:url(../../painting-collection-128x128/hope.jpg);
	background-image:url(../../painting-collection-128x128/imagine.jpg);
	background-image:url(../../painting-collection-128x128/impressionist-party.jpg);
	background-image:url(../../painting-collection-128x128/kabuki-setsu-getsu-ka.jpg);
	background-image:url(../../painting-collection-128x128/kakejiku.jpg);
	background-image:url(../../painting-collection-128x128/kaleidoscope.jpg);
	background-image:url(../../painting-collection-128x128/kiss.jpg);
	background-image:url(../../painting-collection-128x128/koii.jpg);
	background-image:url(../../painting-collection-128x128/man-tree.jpg);
	background-image:url(../../painting-collection-128x128/message.jpg);
	background-image:url(../../painting-collection-128x128/metamorphosis1.jpg);
	background-image:url(../../painting-collection-128x128/metamorphosis2.jpg);
	background-image:url(../../painting-collection-128x128/music-setsu-getsu-ka.jpg);
	background-image:url(../../painting-collection-128x128/naruto.jpg);
	background-image:url(../../painting-collection-128x128/new-heavy.jpg); 
	background-image:url(../../painting-collection-128x128/non-thought.jpg);
	background-image:url(../../painting-collection-128x128/painting-of-painting.jpg);
	background-image:url(../../painting-collection-128x128/peace.jpg);
	background-image:url(../../painting-collection-128x128/pipe.jpg); 
	background-image:url(../../painting-collection-128x128/rainbows-end.jpg);
	background-image:url(../../painting-collection-128x128/right-iris.jpg);
	background-image:url(../../painting-collection-128x128/seijika.jpg);
	background-image:url(../../painting-collection-128x128/silence.jpg);
	background-image:url(../../painting-collection-128x128/sound-artist.jpg);
	background-image:url(../../painting-collection-128x128/splash.jpg);
	background-image:url(../../painting-collection-128x128/still-white.jpg);
	background-image:url(../../painting-collection-128x128/stolen-art.jpg);
	background-image:url(../../painting-collection-128x128/sunset-ny-ny.jpg);
	background-image:url(../../painting-collection-128x128/synchronicity.jpg);
	background-image:url(../../painting-collection-128x128/today.jpg);
	background-image:url(../../painting-collection-128x128/virus.jpg);
	background-image:url(../../painting-collection-128x128/wi-fi-detail.jpg);
	background-image:url(../../painting-collection-128x128/wi-fi.jpg);
	background-image:url(../../painting-collection-128x128/word-blindness.jpg);
	background-image:url(../../painting-collection-128x128/www.jpg);
	background-image:url(../../painting-collection-128x128/zen-bubbles.jpg);
	background-image:url(../../painting-collection-128x128/zichi.jpg);
    width: 0px;
    height: 0px;
    display: inline;
}
   