#preloader {
    background-image:url(../../painting-collection-128x128/banana.jpg);
	background-image:url(../../painting-collection-128x128/blossom.jpg);
	background-image:url(../../painting-collection-128x128/camelia1.jpg);
	background-image:url(../../painting-collection-128x128/camelia2.jpg);
	background-image:url(../../painting-collection-128x128/cherry-1.jpg);
	background-image:url(../../painting-collection-128x128/cherry-2.jpg);
	background-image:url(../../painting-collection-128x128/fuji-san-spring.jpg);
	background-image:url(../../painting-collection-128x128/full-moon-blossom.jpg);
	background-image:url(../../painting-collection-128x128/happy-birthday.jpg);
	background-image:url(../../painting-collection-128x128/hibiscus.jpg);
	background-image:url(../../painting-collection-128x128/hydrangea.jpg);
	background-image:url(../../painting-collection-128x128/ikebana-2.jpg);
	background-image:url(../../painting-collection-128x128/ikebana.jpg);
	background-image:url(../../painting-collection-128x128/iris-1.jpg);
	background-image:url(../../painting-collection-128x128/iris-2.jpg);
	background-image:url(../../painting-collection-128x128/iris-3.jpg);
	background-image:url(../../painting-collection-128x128/iris-large.jpg);
	background-image:url(../../painting-collection-128x128/iris-4.jpg);
	background-image:url(../../painting-collection-128x128/jack1.jpg);
	background-image:url(../../painting-collection-128x128/jack2.jpg);
	background-image:url(../../painting-collection-128x128/joy-of-spring.jpg);
	background-image:url(../../painting-collection-128x128/lavender.jpg);
	background-image:url(../../painting-collection-128x128/leafs.jpg);
	background-image:url(../../painting-collection-128x128/lotus.jpg);
	background-image:url(../../painting-collection-128x128/meditation.jpg);
	background-image:url(../../painting-collection-128x128/peace-lilly.jpg);
	background-image:url(../../painting-collection-128x128/persimmon-dream.jpg);
    background-image:url(../../painting-collection-128x128/pink-fuji.jpg);
	background-image:url(../../painting-collection-128x128/rhododendron1.jpg);
	background-image:url(../../painting-collection-128x128/rhododendron2.jpg);
	background-image:url(../../painting-collection-128x128/rose-hotel.jpg);
	background-image:url(../../painting-collection-128x128/roses-1.jpg);
	background-image:url(../../painting-collection-128x128/roses-palette-knife.jpg);
	background-image:url(../../painting-collection-128x128/roses-2.jpg);
	background-image:url(../../painting-collection-128x128/roses-3.jpg);
	background-image:url(../../painting-collection-128x128/roses-4.jpg);
	background-image:url(../../painting-collection-128x128/sakura-life.jpg);
	background-image:url(../../painting-collection-128x128/sakura-sea.jpg);
	background-image:url(../../painting-collection-128x128/sakura-waterfall.jpg);
	background-image:url(../../painting-collection-128x128/setsu-f6.jpg);
	background-image:url(../../painting-collection-128x128/setsu-getsu-ka.jpg);
	background-image:url(../../painting-collection-128x128/snow-jewels.jpg);
	background-image:url(../../painting-collection-128x128/spring-boat.jpg);
	background-image:url(../../painting-collection-128x128/spring-flowers.jpg);
	background-image:url(../../painting-collection-128x128/spring-mindscape.jpg);
	background-image:url(../../painting-collection-128x128/still-life-roses.jpg);
	background-image:url(../../painting-collection-128x128/strawberry-fields-forever.jpg);
	background-image:url(../../painting-collection-128x128/summer-rose.jpg);
	background-image:url(../../painting-collection-128x128/sunflower-1.jpg);
	background-image:url(../../painting-collection-128x128/sunflower-2.jpg);
	background-image:url(../../painting-collection-128x128/sunflowers-3.jpg);
	background-image:url(../../painting-collection-128x128/under-sakura.jpg);
	background-image:url(../../painting-collection-128x128/way-of-tea.jpg);
	background-image:url(../../painting-collection-128x128/white-dance.jpg);
	background-image:url(../../painting-collection-128x128/white-lilly.jpg);
	background-image:url(../../painting-collection-128x128/white-red-roses.jpg);
	background-image:url(../../painting-collection-128x128/white-roses.jpg);
	 width: 0px;
    height: 0px;
    display: inline;
}
