#preloader {
background-image: url(../../painting-collection-128x128/alpine-autumn.jpg);
background-image: url(../../painting-collection-128x128/alpine-gateway.jpg);
background-image: url(../../painting-collection-128x128/alpine-river.jpg);
background-image: url(../../painting-collection-128x128/alpine-snow-lake.jpg);
background-image: url(../../painting-collection-128x128/alpine-spring-river.jpg);
background-image: url(../../painting-collection-128x128/alps-lake.jpg);
background-image: url(../../painting-collection-128x128/alps-river.jpg);
background-image: url(../../painting-collection-128x128/alps-snow-river.jpg);
background-image: url(../../painting-collection-128x128/alps-waterfall.jpg);
background-image: url(../../painting-collection-128x128/alps-winter.jpg);
background-image: url(../../painting-collection-128x128/artist-garden.jpg);
background-image: url(../../painting-collection-128x128/artist-painter.jpg);
background-image: url(../../painting-collection-128x128/asama-volcano.jpg);
background-image: url(../../painting-collection-128x128/autumn-alpine.jpg);
background-image: url(../../painting-collection-128x128/autumn-fall-2.jpg);
background-image: url(../../painting-collection-128x128/autumn-jazz.jpg);
background-image: url(../../painting-collection-128x128/autumn-mountain.jpg);
background-image: url(../../painting-collection-128x128/autumn-river.jpg);
background-image: url(../../painting-collection-128x128/autumn-walk.jpg);
background-image: url(../../painting-collection-128x128/autumn-waterfall.jpg);
background-image: url(../../painting-collection-128x128/autumn.jpg);
background-image: url(../../painting-collection-128x128/bamboo-sunset.jpg);
background-image: url(../../painting-collection-128x128/bamboo.jpg);
background-image: url(../../painting-collection-128x128/blue-lake.jpg);
background-image: url(../../painting-collection-128x128/challenge-2.jpg);
background-image: url(../../painting-collection-128x128/challenge.jpg);
background-image: url(../../painting-collection-128x128/chirrin-waterfall-1.jpg);
background-image: url(../../painting-collection-128x128/chirrin-waterfall-2.jpg);
background-image: url(../../painting-collection-128x128/dawn-2.jpg);
background-image: url(../../painting-collection-128x128/dawn-mountain.jpg);
background-image: url(../../painting-collection-128x128/dawn.jpg);
background-image: url(../../painting-collection-128x128/deep-winter.jpg);
background-image: url(../../painting-collection-128x128/evening-city.jpg);
background-image: url(../../painting-collection-128x128/evening.jpg);
background-image: url(../../painting-collection-128x128/firefly.jpg);
background-image: url(../../painting-collection-128x128/fishing.jpg);
background-image: url(../../painting-collection-128x128/fuji-sunset.jpg);
background-image: url(../../painting-collection-128x128/fuji-suwa-lake.jpg);
background-image: url(../../painting-collection-128x128/full-moon.jpg);
background-image: url(../../painting-collection-128x128/going-for-a-walk.jpg);
background-image: url(../../painting-collection-128x128/green-tea-with-friends.jpg);
background-image: url(../../painting-collection-128x128/hakuba-setsu-getsu-ka.jpg);
background-image: url(../../painting-collection-128x128/hakuba.jpg);
background-image: url(../../painting-collection-128x128/happo-pond.jpg);
background-image: url(../../painting-collection-128x128/highland-autumn.jpg);
background-image: url(../../painting-collection-128x128/highlands.jpg);
background-image: url(../../painting-collection-128x128/hodake.jpg);
background-image: url(../../painting-collection-128x128/kamikochi.jpg);
background-image: url(../../painting-collection-128x128/kappa-bridge-river.jpg);
background-image: url(../../painting-collection-128x128/kappa-bridge2.jpg);
background-image: url(../../painting-collection-128x128/kitano-american-house.jpg);
background-image: url(../../painting-collection-128x128/kitano-st-west.jpg);
background-image: url(../../painting-collection-128x128/kitano-weathercock.jpg);
background-image: url(../../painting-collection-128x128/kobe-skyline.jpg);
background-image: url(../../painting-collection-128x128/lake.jpg);
background-image: url(../../painting-collection-128x128/lantern.jpg);
background-image: url(../../painting-collection-128x128/lotus-peak.jpg);
background-image: url(../../painting-collection-128x128/lotus-pond-3.jpg);
background-image: url(../../painting-collection-128x128/matsumoto-castle.jpg);
background-image: url(../../painting-collection-128x128/moon-prayer.jpg);
background-image: url(../../painting-collection-128x128/moore-house2.jpg);
background-image: url(../../painting-collection-128x128/morning-misty-alps-2.jpg);
background-image: url(../../painting-collection-128x128/morning-misty-alps.jpg);
background-image: url(../../painting-collection-128x128/mountain.jpg);
background-image: url(../../painting-collection-128x128/myoko-2.jpg);
background-image: url(../../painting-collection-128x128/natures-sculpture.jpg);
background-image: url(../../painting-collection-128x128/peak2.jpg);
background-image: url(../../painting-collection-128x128/purple-snow.jpg);
background-image: url(../../painting-collection-128x128/red-autumn.jpg);
background-image: url(../../painting-collection-128x128/red-bridge2.jpg);
background-image: url(../../painting-collection-128x128/rhine-house.jpg);
background-image: url(../../painting-collection-128x128/rhine-steps2.jpg);
background-image: url(../../painting-collection-128x128/rice-harvest.jpg);
background-image: url(../../painting-collection-128x128/river2.jpg);
background-image: url(../../painting-collection-128x128/sailboats.jpg);
background-image: url(../../painting-collection-128x128/snow-3.jpg);
background-image: url(../../painting-collection-128x128/snow-tree.jpg);
background-image: url(../../painting-collection-128x128/snow.jpg);
background-image: url(../../painting-collection-128x128/spirit.jpg);
background-image: url(../../painting-collection-128x128/spring-reservoir.jpg);
background-image: url(../../painting-collection-128x128/spring.jpg);
background-image: url(../../painting-collection-128x128/stillness.jpg);
background-image: url(../../painting-collection-128x128/string-waterfall2.jpg);
background-image: url(../../painting-collection-128x128/studio-window.jpg);
background-image: url(../../painting-collection-128x128/suma-full-moon.jpg);
background-image: url(../../painting-collection-128x128/sumi-lake.jpg);
background-image: url(../../painting-collection-128x128/sumie-river.jpg);
background-image: url(../../painting-collection-128x128/summer-climb.jpg);
background-image: url(../../painting-collection-128x128/sword-mountain.jpg);
background-image: url(../../painting-collection-128x128/temple.jpg);
background-image: url(../../painting-collection-128x128/the-purple-snow.jpg);
background-image: url(../../painting-collection-128x128/torii.jpg);
background-image: url(../../painting-collection-128x128/twilight.jpg);
background-image: url(../../painting-collection-128x128/volcano-poison-lake.jpg);
background-image: url(../../painting-collection-128x128/volcano-pond.jpg);
background-image: url(../../painting-collection-128x128/volcano-roaring.jpg);
background-image: url(../../painting-collection-128x128/volcano-sumi.jpg);
background-image: url(../../painting-collection-128x128/volcano.jpg);
background-image: url(../../painting-collection-128x128/waterfall-1.jpg);
background-image: url(../../painting-collection-128x128/waterfall-2.jpg);
background-image: url(../../painting-collection-128x128/waterfall-2005.jpg);
background-image: url(../../painting-collection-128x128/waterfall.jpg);
background-image: url(../../painting-collection-128x128/watermill.jpg);
background-image: url(../../painting-collection-128x128/weathercock-house.jpg);
background-image: url(../../painting-collection-128x128/whisper-of-autumn.jpg);
background-image: url(../../painting-collection-128x128/white-horse-moon-2.jpg);
background-image: url(../../painting-collection-128x128/white-horse-mountain-2.jpg);
background-image: url(../../painting-collection-128x128/white-horse.jpg);
background-image: url(../../painting-collection-128x128/white-string-2.jpg);
background-image: url(../../painting-collection-128x128/winter-2.jpg);
background-image: url(../../painting-collection-128x128/winter-mountain.jpg);
background-image: url(../../painting-collection-128x128/winter.jpg);
	
width: 0px;
    height: 0px;
    display: inline;
}
